* {
    font-family: 'Lato', serif;
    text-align: center;
}

h1 {
    font-size: 72px;
}

p {
    font-size: 36px;
}

#unit {
    font-size: 24px;
    display: block;
}

#temp {
    font-size: 48px;
}

body {
    background: -webkit-linear-gradient(90deg, #005C97 10%, #363795 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #005C97 10%, #363795 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #005C97 10%, #363795 90%); /* IE10 */
    background:      -o-linear-gradient(90deg, #005C97 10%, #363795 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #005C97 10%, #363795 90%); /* W3C */
}
