* {
    font-family: 'Lato', serif;
    text-align: center;
}

h1 {
    font-size: 72px;
}

p {
    font-size: 36px;
}

#unit {
    font-size: 24px;
    display: block;
}

#temp {
    font-size: 48px;
}

body {
    background-color: #EAEAEA;
}
